@{
    ViewData["Title"] = "Shop - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model int

<h2>Product Details</h2>
<p>This page displays information for Product ID: <strong>@Model.</strong></p>
